@import 'materialize';
@import 'ember-cli-materialize';

.card {
  width: 250px;
}

.instruments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.new-instrument {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
