{{display-cart}}
<div class="instruments">
  {{#each model as |instrument|}}
  {{instrument-tile instrument=instrument destroyInstrument='destroyInstrument'}}
  {{/each}}
</div>
<div class="new-instrument">
  {{new-instrument saveInstrument='saveInstrument'}}
</div>
